.catalogue-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2em 0;
  font-weight: bold;
}

@media only screen and (max-width: 350px) {
  .catalogue-filter {
    flex-direction: column;
  }

  .catalogue-filter div {
    margin: 0.5em 0;
  }
}

.catalogue-filter div {
  margin-left: 5%;
}

.filter-select {
  display: flex;
  height: 3em;
  border-radius: 5px;
  outline: none;
}
