.pagination {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  border: solid 1px gray;
}

.pageItemCount {
  display: flex;
}

.pagination_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.pageButton {
  width: 8em;
  height: 3em;
  margin: 10%;
  background-color: green;
}
.pageButton:hover {
  background-color: greenyellow;
}

.disable {
  background-color: rgb(161, 161, 161);
}

.disable:hover {
  background-color: rgb(158, 149, 149);
}
