.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pagination_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.disable {
  background-color: rgb(161, 161, 161);
}
